body {
    margin: 0;
    background-image: linear-gradient(#567c8d, #f5efeb);
    min-height: 100vh;
    color: black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

.welcome {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome h1 {
    font-size: 30px;
}

.welcome p {
    font-weight: 500;
}

.content h1 {
    margin-bottom: 0%;
}

.content p {
    margin-top: 0.2rem;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 3rem;
    height: 50%;
    width: 60%;
    max-width: 30rem;
    max-height: 40rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 0.05rem solid #949c9f;
    font-size: 1rem;
}

.btn {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #567c8d;
    color: white;
    font-size: 0.85rem;
    font-weight: 550;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: #567c8d #f5efeb;
    overflow-y: scroll;
    max-height: 12rem;
    margin-top: 1rem;
}

.scroll::-webkit-scrollbar {
    width: 0.5rem;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #567c8d;
    border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-top: 5px;
}

.list-group-item span {
    flex-grow: 1;
    font-size: 1rem;
}

.delete-btn {
    background-color: #d62424;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c01111;
}

.counter {
    border: 0.05rem solid lightgray;
}

.counter-container {
    justify-content: space-between;
    height: 2rem;
    color: black;
}

.counter-container button {
    background-color: transparent;
    border: none;
    font-size: 0.8rem;
    color: #567c8d;
    cursor: pointer;
    font-weight: 700;
}
